<section
  class="relative h-[clamp(15rem,100vw,100vh)] bg-cover bg-center transition-all duration-700 ease-in-out"
  [style.backgroundImage]="getBackground()"
>

<!-- Overlay -->
<div class="absolute inset-0 bg-black/60"></div>


<!-- Content -->
<div class="relative z-10 min-h-screen">

    <app-menu></app-menu>

    <main>
        <!-- <router-outlet></router-outlet> Uso de rotas futuramente -->

        <ul class="text-brand-primary 
                    px-4 sm:px-6 lg:px-10
                    text-[clamp(3rem,15vw,18rem)]
                    font-semibold tracking-tighter leading-[0.8] uppercase"
        >
            @for (category of epCategories; track category.key) {
                <li class="cursor-pointer hover:text-white transition"
                    (mouseenter)="activeBg = category.key"
                    (click)="activeBg = category.key" 
                >
                    {{ category.label }}
                </li>
            }
        </ul>

        <app-epfind></app-epfind>
    </main>
</div>