<div class="min-h-screen">

    <app-menu></app-menu>

    <main>
        <!-- <router-outlet></router-outlet> Uso de rotas futuramente -->

        <ul class="text-brand-primary px-10 text-[200px] font-semibold tracking-tighter leading-[0.8] uppercase">
            <li class="cursor-pointer hover:text-white transition">Futebol</li>
            <li class="cursor-pointer hover:text-white transition">Boardgame</li>
            <li class="cursor-pointer hover:text-white transition">Escalada</li>
            <li class="cursor-pointer hover:text-white transition">Bike</li>
        </ul>

    </main>
</div>