<section id="eps-library" class="mx-auto py-6">
    <div class="mx-auto flex flex-col items-start font-semibold tracking-tighter">
        <h2 class="mb-3 md:mb-2 text-[clamp(1.6rem,3vw,2.4rem)] font-bold uppercase">Encounter Points Disponíveis</h2>
        <div class="w-16 h-2 bg-white mt-4"></div>
        <h3 class="mt-5 md:mt-8 text-[clamp(1.2rem,2vw,1.8rem)] uppercase">Encontre o seu!</h3>
    </div>

    <div class="space-y-10 pt-10 px-4 md:px-10">
        @for (category of categories; track category.id) {
            <div>
                <h2 class="text-[clamp(1.2rem,2vw,1.8rem)] font-semibold uppercase mb-4">
                    {{ category.name }}
                </h2>

            </div>

            <div class="flex flex-row gap-4 overflow-x-auto no-scrollbar scroll-smooth">
                 @for (ep of getEpsByCategory(category.id); track ep.id) {
                    <div class="cursor-pointer"
                        (click)="selectedEp = ep">
                        <app-ep-card [ep]="ep"></app-ep-card>
                    </div>
                }
            </div>
        }
    </div>

    @if (selectedEp) {
        <app-ep-modal 
            [ep]="selectedEp" 
            (closeEvent)="selectedEp = null">
        </app-ep-modal>
    }
</section>